[
    {
        "Key": "redis_host",
        "Value": "redis",
        "Secure": false
    },
    {
        "Key": "db_host",
        "Value": "db",
        "Secure": false
    },
    {
        "Key": "db_user",
        "Value": "postgres",
        "Secure": false
    },
    {
        "Key": "db_name",
        "Value": "postgres",
        "Secure": false
    },
    {
        "Key": "db_pass",
        "Value": "",
        "Secure": true
    },
    {
        "Key": "es_enabled",
        "Value": "true",
        "Secure": true
    },
    {
        "Key": "es_host",
        "Value": "es",
        "Secure": true
    },
    {
        "Key": "local_domain",
        "Value": "",
        "Secure": false
    },
    {
        "Key": "secret_key_base",
        "Value": "",
        "Secure": true
    },
    {
        "Key": "otp_secret",
        "Value": "",
        "Secure": true
    },
    {
        "Key": "vapid_private_key",
        "Value": "",
        "Secure": true
    },
    {
        "Key": "vapid_public_key",
        "Value": "",
        "Secure": false
    },
    {
        "Key": "default_locale",
        "Value": "en",
        "Secure": false
    },
    {
        "Key": "smtp_server",
        "Value": "",
        "Secure": false
    },
    {
        "Key": "smtp_login",
        "Value": "",
        "Secure": false
    },
    {
        "Key": "smtp_password",
        "Value": "",
        "Secure": true
    },
    {
        "Key": "smtp_from_address",
        "Value": "",
        "Secure": false
    },
    {
        "Key": "s3_enabled",
        "Value": "true",
        "Secure": false
    },
    {
        "Key": "s3_bucket",
        "Value": "",
        "Secure": false
    },
    {
        "Key": "aws_access_key_id",
        "Value": "",
        "Secure": false
    },
    {
        "Key": "aws_secret_access_key",
        "Value": "",
        "Secure": true
    },
    {
        "Key": "s3_region",
        "Value": "",
        "Secure": false
    },
    {
        "Key": "s3_protocol",
        "Value": "https",
        "Secure": false
    },
    {
        "Key": "s3_hostname",
        "Value": "",
        "Secure": false
    },
    {
        "Key": "s3_cloudfront_host",
        "Value": "",
        "Secure": false
    },
    {
        "Key": "slack_url",
        "Value": "",
        "Secure": true
    },
    {
        "Key": "facebook_api",
        "Value": "",
        "Secure": true
    },
    {
        "Key": "facebook_app_id",
        "Value": "",
        "Secure": false
    },
    {
        "Key": "facebook_app_secret",
        "Value": "",
        "Secure": true
    },
    {
        "Key": "awslogs_region",
        "Value": "",
        "Secure": false
    },
    {
        "Key": "awslogs_web_group",
        "Value": "",
        "Secure": false
    },
    {
        "Key": "awslogs_streaming_group",
        "Value": "",
        "Secure": false
    },
    {
        "Key": "awslogs_sidekiq_group",
        "Value": "",
        "Secure": false
    }
]
